<template name="header">
	<div id="header_wrap">
		<div class="header_inner">
			<a class="logo" href="/"></a>
			<div class="nav">
				<ul>
					<li><a href="/bars">For Bars</a></li>
					<li><a href="/restaurants">For Restaurants</a></li>
					<li><a href="/offices">For Offices</a></li>
				</ul>
			</div>
			<div class="social">
				<ul>
					<li class="fb"><a href="#"></a></li>
					<li class="twitter"><a href="#"></a></li>
					<li class="linkedin"><a href="#"></a></li>
					<li class="pinterest"><a href="#"></a></li>
					<li class="youtube"><a href="#"></a></li>
				</ul>
			</div>
		</div>
	</div>
</template>