<template name="bars_3">
	<div class="row_container" style="">	
		
		<div class="row_left white_info_box">
			<h2 class="blue_title_bar title_bar_left">For Bars</h2>
			
			<p class="gray">Bars can now offer their patrons a healthy option for designated drivers! Additionally, Conscious Kombucha can be used to 'cut' all kinds of liquor in mixed-drinks. Our customers will get a custom Conscious Kombucha Cocktail menu to offer at their upscale bar-lounge.</p>
			
			<p class="gray">Did we mention it is an All-in-One Countertop System with a Cooling Draft and Dispenser built-in. Ready to serve!!!</p>
		</div>
		
		<div class="row_right">
			<img src="/images/co2.png" style="width: 480px;height: 479px;" />
		</div>


		<div style="clear:both"></div>
		<div class="radial_light_new"></div>
	</div>
</template>